# Ignore Python virtual environment
.mosaicvenv/
.venv/
.mosavenv/

# Ignore Llama model files
models/
*.gguf

# ignore code workspace
*.code-workspace

# Ignore datamapplot directory
src/datamapplot/


# Ignore Python cache files
__pycache__/
*.out*.code-workspace

# Ignore results directory & HPC log files

*.csv
*.db
*.out*.code-workspace

#ignore MOSAIC.egg-info
MOSAIC.egg-info/



# #ignore the content of DATA directory, but not the directory itself
# /DATA/*
# !/DATA/.gitkeep
# .DS_Store


.env
#add any .json files
*.json

#ignore all the .txt files
*.txt

#ignore experiments directory (as helpers for me for other projects)
/experiments/

EVAL/