# Ignore Python virtual environment
.mosavenv/

# Ignore Llama model files
model/
*.gguf

# ignore code workspace
*.code-workspace

# Ignore datamapplot directory
datamapplot/

# Ignore Python cache files
__pycache__/
*.out*.code-workspace

# Ignore results directory & HPC log files
RESULTS/
*.out*.code-workspace

#ignore MOSAIC.egg-info
MOSAIC.egg-info/


#ignore DATA directory
DATA/
.DS_Store

