# Main DS and ML stacks
numpy
pandas
scikit-learn
torch

# NLP and Topic Modelling
bertopic
gensim
spacy
sentence-transformers
nltk

# LLM and Hugging Face ecosystem
# For BERTopic with LLMs and fine-tuning experiments
transformers
accelerate
bitsandbytes
datasets
llama-cpp-python

# Dimensionality reduction and clustering
# Core components for BERTopic's backend
umap-learn
hdbscan

# Visualisation and notebooks
matplotlib
seaborn
wordcloud
jupyterlab
adjustText
datamapplot


google.generativeai
